@import "tailwindcss";

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

@font-face {
  font-family: "KumbhSans";
  src: url("./fonts/KumbhSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-VariableFont.ttf"), url("./fonts/NotoSans-Italic-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  src: url("./fonts/Syne-VariableFont.ttf") format("truetype");
}

body {
  @apply grid justify-items-center min-w-screen min-h-screen bg-[#0c243b] overflow-x-hidden;
}

a {
  @apply outline-none;
}

input {
  @apply outline-none;
}

button {
  @apply outline-none;
}
